$media-desktop-s: 1024px;

:root {
  --color-secondary: #C4C4C4;
  --color-base: #2B303D;
  --color-neutral-10: #000000;
  --color-red-5: #FF4D4F;
  --color-primary-6: #F5C913;

  --font-orbitron: 'Orbitron';
  --font-bai-jamjuree: 'Bai Jamjuree'
}