@import "src/shared";

.modal {
  max-width: 100vh;
  padding: 0;
  top: 0;

  @media only screen and (min-width: $media-desktop-s)  {
    max-width: calc(100vw - 32px);
    padding: 0 0 24px;
    top: 100px;
  }
}

.modalWrapper {
  div, svg {
    background: $color-neutral-neutral-2;
    border-color: $color-neutral-neutral-4;
    color: $color-neutral-neutral-9
  }
}