@import "src/shared";

.image {
  max-width: 144px;
  margin-bottom: 15px;
}

.progress {
  max-width: 144px;
  padding-bottom: 10px;

  @media only screen and (min-width: $media-desktop-s)  {
    max-width: 198px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

.lvlTooltipContent {
  padding-top: 4px;
  color: $color-primary-primary-6;
}

.status {
  margin-bottom: 4px;

  & > span {
    color: $color-neutral-neutral-7;
  }
}

.statusEmpty {
  height: 18px;
  width: 1px;
  margin-bottom: 4px;
}

.button {
  margin: 0 auto;
}
