@import "src/shared";

.image {
  height: 264px;
  width: 144px;
  margin-bottom: 15px;

  @media only screen and (min-width: $media-desktop-s)  {
    height: 363px;
    width: 198px;
  }
}

.progress > div > div {
  background-color: $color-neutral-neutral-6;
}

.progress {
  max-width: 144px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  @media only screen and (min-width: $media-desktop-s)  {
    max-width: 198px;
  }

  :global {
    .ant-progress-outer {
      margin: 0 !important;
      padding: 0 !important;
      flex: 1;
    }

    .ant-progress-text {
      width: fit-content !important;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: $color-neutral-neutral-7;
  width: 100%;
}

.rightContent {
  padding-left: 8px;
}

.lvlTooltipContent {
  padding-top: 4px;
  color: $color-primary-primary-6;
}

.status {
  margin-bottom: 4px;
  & > span {
    color: $color-neutral-neutral-7;
  }
}

.statusEmpty {
  height: 18px;
  width: 1px;
  margin-bottom: 4px;
}
