@import "src/shared";

.image {
  height: 264px;
  width: 144px;
  margin-bottom: 15px;

  @media only screen and (min-width: $media-desktop-s)  {
    height: 363px;
    width: 198px;
  }
}

.progress > div > div {
  background-color: $color-neutral-neutral-6;
}

.progress {
  max-width: 110px;

  @media only screen and (min-width: $media-desktop-s)  {
    max-width: 170px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info {
  color: $color-neutral-neutral-7;
}

.lvlTooltipContent {
  padding-top: 4px;
  color: $color-primary-primary-6;
}

.status {
  margin-bottom: 4px;
  & > span {
    color: $color-neutral-neutral-7;
  }
}
