@import 'src/shared';

:global {
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
        color: $color-neutral-neutral-1;
    }

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
        color: $color-neutral-neutral-9;
    }

    .ant-steps-item-description,
    .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
        color: $color-neutral-neutral-7 !important;
    }
    
}
