@import "src/shared";

.homeScreen {
  background-color: $color-cyan-cyan-1;
  background-image: url("../../shared/ui/images/city/hometown.webp");
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
  font-family: $orbitron;
  background-size: cover;

  @media (min-width: $media-desktop-l)  {
    background-image: url("../../shared/ui/images/city/hometown.png");
  }

}

.enterLink {
  padding: 4px 12px;
  display: inline-block;
  color: $color-neutral-neutral-10 !important;
  cursor: pointer;
  background: rgba(20, 20, 20, 0.4);
  border-bottom: 1px solid $color-neutral-neutral-1;

  &:hover {
    background-color: $color-primary-primary-6;
  }
}

.mineOwnerTitle {
  composes: enterLink;
  margin-top: 100%;
}

.mine {
  height: 85vh;
  width: 15vw;
  float: right;
  background-image: url("../../shared/ui/images/city/mine.webp");
  filter: $glow;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  cursor: pointer;

  @media (min-width: $media-tablet)  {
    filter: initial;
  }

  &:hover {
    filter: $glow;
  }
}

.hive {
  margin-left: 10vw;
  margin-top: 5vh;
  height: 50vh;
  width: 20vw;
  background-image: url("../../shared/ui/images/city/hive-building.webp");
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center bottom;
  filter: $glow;

  @media (min-width: $media-tablet)  {
    background-position: center bottom;
    filter: initial;
  }

  &:hover {
    background-position: center bottom;
    filter: $glow;
  }
}

.serviceMarket {
  display: inline-block;
  height: 50vh;
  width: 20vw;
  background-image: url("../../shared/ui/images/city/market.webp");
  filter: $glow;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  position: relative;

  &:hover {
    filter: $glow;
  }

  @media (min-width: $media-tablet)  {
    filter: initial;
    background-position: left;
  }
}

.serviceMarketTitle {
  margin-top: 45vh;
}

.landlordLounge {
  height: 65vh;
  width: 14vw;
  background-image: url("../../shared/ui/images/city/scyscraper.webp");
  filter: $glow;
  background-size: contain !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: $media-tablet)  {
    filter: initial;
    background-position: center;
  }

  &:hover {
    filter: $glow;
  }
}

.engineer {
  height: 20vh;
  width: 20vw;
  margin-left: 35%;
  background-image: url("../../shared/ui/images/city/specialists.webp");
  filter: $glow;
  background-size: contain !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: $media-tablet)  {
    filter: initial;
    background-position: left;
  }

  &:hover {
    filter: $glow;
    background-position: left;
  }
}