@import "src/shared";

.homeScreen {
  background-color: $color-cyan-cyan-1;
  background-image: url("../../shared/ui/images/city/hometown.webp");
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
  background-size: cover;

  @media (min-width: $media-desktop-l)  {
    background-image: url("../../shared/ui/images/city/hometown4k.webp");
  }
}

.enterLink {
  @include enter-hover;

  font-family: $orbitron;
  padding: 4px 12px;
  display: inline-block;
  color: $color-neutral-neutral-10 !important;
  cursor: pointer;
  background: rgba(20, 20, 20, 0.4);
  border-bottom: 1px solid $color-neutral-neutral-1;
}

.mineOwnerTitle {
  composes: enterLink;
  margin-top: 100%;
}

.mine {
  @include enter-hover;

  height: 41vh;
  width: 15vw;
  float: right;
  background-image: url("../../shared/ui/images/city/mine.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  cursor: pointer;
  position: relative;

  @media (min-width: $media-tablet)  {
    height: 85vh;
  }
}

.hive {
  @include enter-hover;

  margin-left: 10vw;
  margin-top: 5vh;
  height: 50vh;
  width: 20vw;
  background-image: url("../../shared/ui/images/city/hive-building.webp");
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: $media-tablet)  {
    background-position: center bottom;
  }
}

.serviceMarket {
  //@include enter-hover;

  display: inline-block;
  //height: 50vh;
  //width: 20vw;
  //background-image: url("../../shared/ui/images/city/market.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  position: relative;

  @media (min-width: $media-tablet)  {
    background-position: left;
  }
}

.landlordLounge {
  @include enter-hover;

  height: 65vh;
  width: 14vw;
  background-image: url("../../shared/ui/images/city/scyscraper.webp");
  background-size: contain !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: $media-tablet)  {
    background-position: center;
  }
}

.engineer {
  @include enter-hover;

  height: 20vh;
  width: 20vw;
  margin-left: 35%;
  background-image: url("../../shared/ui/images/city/specialists.webp");
  background-size: contain !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: $media-tablet)  {
    background-position: left;
  }
}