@import 'src/shared';

.accent {
    color: $color-primary-primary-6;
}

.contractId {
    display: flex;
    align-items: center;
}

.contractNumber {
    color: $color-neutral-neutral-9;
}

.copyIcon {
    margin-left: 10px;
    font-size: 20px;
}

.bottomActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.contractId,
.discord {
    display: flex;
    align-items: center;

    div {
        color: $color-primary-primary-6;
    }

    svg {
        cursor: pointer;
        margin-right: 8px;
    }
}

.terminateAlert {
    margin-top: 24px;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
}
