@import 'src/shared';

.accent {
    color: $color-primary-primary-6;
}

.copyIcon {
    margin-right: 10px;
    font-size: 16px;
}

.bottomActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.contractId,
.discord {
    display: flex;
    align-items: center;

    div {
        color: $color-primary-primary-6;
    }

    svg {
        cursor: pointer;
        margin-right: 8px;
    }
}

.terminateAlert {
    margin-top: 24px;
}
