@import "src/shared";

.tabs {
  :global {

    .ant-tabs-ink-bar {
      background: $color-primary-primary-6;
    }

    .ant-tabs-content-holder {
      border: none;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $color-primary-primary-6 !important;
    }

    .ant-tabs-tab {
      color: $color-neutral-neutral-9;
    }

    .ant-tabs-tab-disabled {
      color: $color-neutral-neutral-6;
    }
  }
}
