@import 'src/shared';

:global {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        font-weight: 600;
    }

    .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: 0;
    }

    .ant-tabs-right > .ant-tabs-content-holder {
        border-right: 0;
    }
}
