@import "src/shared";

.cabinBackground {
  position: relative;
  background: url("../../shared/ui/images/DarkGreyMin.png") no-repeat center center fixed;
  min-height: 100vh;
  background-size: cover;

  @media only screen and (min-width: $media-tablet)  {
    background: url("../../shared/ui/images/DarkGrey.png") no-repeat center center fixed;
    background-size: cover;
  }
}

.cabinMonitor {
  top: 120px;
  left: 68px;
  position: absolute;
}