@import "src/shared";

.cabinBackground {
  font-family: $bai;
  position: relative;
  background: url("../../shared/ui/images/DarkGreyMin.png") no-repeat left center fixed;
  min-height: 100vh;
  background-size: cover;

  @media only screen and (min-width: $media-tablet)  {
    background: url("../../shared/ui/images/Dark_Gray.jpg") no-repeat left center fixed;

    &DarkRed {
      background: url("../../shared/ui/images/Dark_Red.jpg") no-repeat left center fixed;
    }
    &LightGreen {
      background: url("../../shared/ui/images/Light_Green.jpg") no-repeat left center fixed;
    }
    &LightRed {
      background: url("../../shared/ui/images/Light_Red.jpg") no-repeat left center fixed;
    }
    &LightYellow {
      background: url("../../shared/ui/images/Light_Yellow.jpg") no-repeat left center fixed;
    }
  }
}

.cabinMonitorHeight {
}
.cabinMonitorContainerHeight {
  width: 71vh;
  left: 15.3vh;
}

.cabinMonitorWidth {
}
.cabinMonitorContainerWidth {
  width: 36.9vw;
  left: 8vw;
}

.title {
  font-family: $orbitron;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $color-neutral-neutral-9;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-neutral-neutral-9;
}

.coloredText {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-primary-primary-6;
}