@import "src/shared";

.cabinBackground {
  font-family: $bai;
  position: relative;
  min-height: 100vh;

  @media only screen and (min-width: $media-tablet)  {
    background: url("../../shared/ui/images/Dark_Gray.jpg") no-repeat right center fixed;
    background-size: cover;

    &DarkRed {
      background: url("../../shared/ui/images/Dark_Red.jpg") no-repeat right center fixed;
      background-size: cover;
    }
    &LightGreen {
      background: url("../../shared/ui/images/Light_Green.jpg") no-repeat right center fixed;
      background-size: cover;
    }
    &LightRed {
      background: url("../../shared/ui/images/Light_Red.jpg") no-repeat right center fixed;
      background-size: cover;
    }
    &LightYellow {
      background: url("../../shared/ui/images/Light_Yellow.jpg") no-repeat right center fixed;
      background-size: cover;
    }
  }

  @media only screen and (max-width: $media-tablet)  {
    background: url("../../shared/ui/images/DarkGreyMin.png") no-repeat right center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cabinMonitorContainerHeight {
  width: 71vh;
  left: 15.3vh;
}

.cabinMonitorContainerWidth {
  width: 700px;
  left: 8vw;
}

.title {
  font-family: $orbitron;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $color-neutral-neutral-9;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-neutral-neutral-9;
}

.coloredText {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-primary-primary-6;
}