@import 'src/shared';

.alert {
    padding: 11px 16px;

    :global {
        .ant-alert-icon {
            align-self: flex-start;
            padding-top: 5px;
        }
    }
}

.alert:global(.ant-alert-info) {
    background: $color-primary-primary-1;
    border: 1px solid $color-primary-primary-3;

    :global {
        .ant-alert-message {
            color: $color-neutral-neutral-9;
        }

        .ant-alert-icon {
            color: $color-primary-primary-6;
        }
    }
}
