@import "src/shared";

.cardHolder {
  cursor: pointer;
  height: 264px;
  width: 144px;
  background: black;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  white-space: pre-line;
  text-align: center;

  margin-top: 25px;

  @media only screen and (min-width: $media-desktop-s)  {
    height: 363px;
    width: 198px;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -6px;
    right: 0;
    content: '';
    background: url("../../icons/border.svg") left no-repeat;
    height: 265px;
    width: 154px;

    @media only screen and (min-width: $media-desktop-s)  {
      left: -8px;
      height: 363px;
      width: 213px;
      background-size: 100%;
    }
  }
}

h5.title {
  color: $color-neutral-neutral-10;
}

.icon {
  font-size: 32px;
  margin-bottom: 23px;
}