@import 'src/shared';

.accent {
    color: $color-primary-primary-6;
}

.title.title {
    margin-bottom: 16px;
}

.table > div {
    & div:last-child {
        font-weight: 700;
    }
}

.copyIcon {
    margin-right: 10px;
    font-size: 16px;
}

.signOrder {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}
