@import "src/shared";

.miningStatusTitle {
  color: $color-primary-primary-6 !important;
  text-align: center;
  margin-bottom: 16px;

  @media only screen and (min-width: $media-desktop-s)  {
    margin-bottom: 40px !important;
  }
}

.interrupted {
  color: $color-volcano-volcano-6 !important;
}

.finished {
  color: $color-neutral-neutral-9 !important;
}

.timerRemained {
  text-align: left;
  width: 160px;
  display: inline-block;
}