@import 'src/shared';

.wrapper {
  display: flex;
  align-items: center;
  color: $color-neutral-neutral-10
}

.userMenuHeader {
  color: $color-neutral-neutral-8;
}

.name {
  color: $color-neutral-neutral-9 !important;
}

.energyCount {
  color: $color-neutral-neutral-10;
  margin-left: 7px;
  margin-right: 16px;
  font-size: 12px;
}

.attrs {
  margin-top: 12px;
  min-width: 225px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: $color-neutral-neutral-8;
}

.dataUnitTitle {
  color: $color-neutral-neutral-10 !important;
}

.logoutButton {
  width: 100%;
}

.dataUnit {
  display: flex;
  justify-content: space-between;
  color: $color-neutral-neutral-7;
  padding: 16px;
}

.item {
  padding: 11px 10px 0 10px;
}

.location {
  color: $color-neutral-neutral-9;
}

.userAction {
  padding: 16px;
  background: $color-neutral-neutral-1;
  border: 1px solid $color-neutral-neutral-4;
  border-top: none;
  
  span {
    color: $color-neutral-neutral-7 !important;
  }
}

