@import "src/shared";

.homeScreen {
  background: url("../../shared/ui/images/hometown.png") no-repeat;
  height: 100vh;
  max-width: 100vw;
  background-size: 100% 100%;
  font-family: $orbitron;
}

.mineOwnerLink {
  margin-left: 35vw;
  margin-top: 13vh;

  @media only screen and (min-width: $media-mobile-oriental)  {
    margin-left: 65vw;
    margin-top: 13vh;
  }
}

.contractorCabin {
  margin-left: 30vw;
  margin-top: 20vh;

  @media only screen and (min-width: $media-mobile-oriental)  {
    margin-left: 66vw;
    margin-top: 25vh;
  }

  @media only screen and (min-width: $media-desktop-s)  {
    margin-left: 75vw;
    margin-top: 20vh;
  }
}

.enterLink {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  padding: 16px 16px 6px 16px ;
  color: $color-primary-primary-6;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-neutral-neutral-1 ;
    opacity: .7;
    z-index: -1;
  }

  &:hover {
    transform: translateY(-5px);
    transition: all .4s;
  }

  h5 {
    margin-bottom: 0;
  }
}

.hive {
    margin-left: 10vw;
    margin-top: 0;

    @media only screen and (min-width: $media-mobile-oriental)  {
      margin-left: 20vw;
      margin-top: 0;
    }

    @media only screen and (min-width: $media-desktop-s)  {
      margin-left: 25vw;
      margin-top: 0;
    }
}

.serviceMarket {
  margin-left: 25vw;
  margin-top: 0;

  @media only screen and (min-width: $media-mobile-oriental)  {
    margin-left: 25vw;
    margin-top: 0;
  }

  @media only screen and (min-width: $media-desktop-s)  {
    margin-left: 25vw;
    margin-top: 0;
  }
}