@import "src/shared";

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  padding-top: 12px;
}
.description {
  padding-top: 6px;
  max-width: 320px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}

.button {
  border: none;
  width: 141px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

@media only screen and (min-width: $media-desktop-s)  {
  .title {
    padding-top: 50px;
  }
  .description {
    padding-top: 19px;
  }

  .buttons {
    padding-top: 28px;
  }

  .button {
    border: 1px solid $color-primary-primary-6;
    border-radius: 2px;
  }
}