@import 'src/shared';

.title {
  padding-bottom: 4px;

  @media only screen and (min-width: $media-desktop-s) {
    padding-bottom: 12px;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}