@import "src/shared";

.container {
  max-width: 360px;
  margin: 0 auto;
}

.title {
  padding-top: 56px;
}

.description, .descriptionCenter {
  padding-top: 16px;
}

.descriptionCenter {
  text-align: center;
}

@media only screen and (max-width: $media-tablet)  {
  .container {
    padding: 15px 19px;
  }
  .title {
    padding-top: 0;
  }
}
