.monitor {
    color: white;

    &Status {
        position: absolute;
        right: 0;
        fill: transparent;
        opacity: 0.36;
        display: flex;
        align-items: center;
        color: white;
    }

    &[data-size="m"] {
        min-width: 312px;
        min-height: 156px;

        .monitorStatus {
            column-gap: 4px;
            margin-top: 6px;
            margin-right: 6px;
        }

        .monitorStatusText {
            color: inherit;
            font-size: 8px;
        }
    }
}

.monitorBg {
    background-image: url("../../images/contractor/Monitor.png");
    background-repeat: no-repeat;
    background-size: cover, contain;
}

.display {
    filter: blur(1px);
}
