@import "src/shared";

.button {
  border: 1px solid $color-primary-primary-6;
  color: $color-primary-primary-6;
  cursor: pointer;
  padding: 12px;
  display: inline-block;
  @include text-style-orbitron-16-px-24-px;
}