@import "src/shared";

.button.button {
  border-radius: 2px;
  border: 1px solid $color-neutral-neutral-5;
  color: $color-neutral-neutral-9;

  &:hover, &:focus {
    border: 1px solid $color-primary-primary-5;
    color: $color-primary-primary-5;
  }

  &:active {
    border: 1px solid $color-primary-primary-7;
    color: $color-primary-primary-7;
  }
}
.disabled {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background: $color-neutral-neutral-3;
      border: 1px solid $color-neutral-neutral-5;
      color: $color-neutral-neutral-5;
    }
  }
}

.primary.button {
  border: 1px solid $color-primary-primary-6;
  color: $color-neutral-neutral-1;
  background: $color-primary-primary-6;

  &:hover,
  &:focus,
  &:active {
    color: $color-neutral-neutral-1;
    background: $color-primary-primary-5;
  }
}
.primary.ghost {
  background: none;
  color: $color-primary-primary-6;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary-primary-5;
    background: none;
  }
}

.button.link {
  color: $color-primary-primary-6;
  border: none;

  &:hover,
  &:focus, {
    border: none;
    color: $color-primary-primary-5;
  }

  &:active {
    color: $color-primary-primary-7;
  }
}