// stylelint-disable scss/at-import-partial-extension
@import "src/shared";
@import "../styles.module";

.background {
  background: url('./images/mineControlPanel.png') no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  composes: deck;
}

.badgeText span {
  color: $color-neutral-neutral-7;
}

h4.title {
  margin-bottom: 0;
}

.wideButton {
  width: 100%;
}
