@import "src/shared";

.areaClaim {
  padding: 24px;
  background: url("../../../../shared/ui/images/area/areaClaimBg.png") no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-between;
}

.claimContainer {
  width: 325px;
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: left;

  margin-bottom: 16px;
}

.area {
  margin-bottom: 0 !important;
  padding-right: 15px;
  text-transform: uppercase;
}

.status {
  display: flex;
  align-items: center;
  color: $color-neutral-neutral-7;

  &:before {
    content: '.';
    color: transparent;
    border-radius: 8px;
    width: 8px;
    height: 8px;
    margin-right: 8px;
  }
}
.statusActive:before {
  background: $color-green-green-6;
}
.statusInactive:before {
  background: $color-sunset-orange-orange-6;
}

.claimButton {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
}

.engageContainer {
  display: flex;
  align-items: flex-end;
}