@import 'src/shared';

.selectBorderless {
    :global {
        .ant-select-selection-placeholder {
            color: $color-primary-primary-6;
        }
    }
}

.select {
    :global {
        .ant-select-selector {
            background: $color-neutral-neutral-1 !important;
            border-color: $color-neutral-neutral-5 !important;
            color: $color-neutral-neutral-9 !important;
        }

        .ant-select-disabled > .ant-select-selector {
            background: $color-neutral-neutral-3 !important;
        }

        .ant-select-disabled .ant-select-selection-placeholder {
            color: $color-neutral-neutral-6;
        }
    }
}

.dropDownSelect {
    background: $color-neutral-neutral-2 !important;

    :global {
        .ant-select-item {
            color: $color-neutral-neutral-9 !important;
            background: $color-neutral-neutral-2 !important;
        }

        .ant-select-item-option-active {
            background: $color-neutral-neutral-2 !important;
            color: $color-neutral-neutral-9 !important;
        }

        .ant-select-item-option-disabled {
            color: $color-neutral-neutral-6 !important;
        }
    }
}

.selectBorderless {
    :global {
        .ant-select-selection-item, 
        .ant-select-arrow {
            color: $color-primary-primary-6;
        }

        .ant-select-open .ant-select-selection-item {
            color: $color-primary-primary-6;
        }
    }
}
