@mixin text-style-bai-regular-6-px-14-px {
  font-size: 0.429rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 14px;
}
@mixin text-style-bai-regular-8-px-16-px {
  font-size: 0.571rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 16px;
}
@mixin text-style-bai-regular-10-px-18-px {
  font-size: 0.714rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 18px;
}
@mixin text-style-bai-regular-12-px-20-px {
  font-size: 0.857rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 20px;
}
@mixin text-style-bai-regular-14-px-22-px {
  font-size: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 22px;
}
@mixin text-style-bai-regular-16-px-24-px {
  font-size: 1.143rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 24px;
}
@mixin text-style-bai-regular-20-px-28-px {
  font-size: 1.429rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 28px;
}
@mixin text-style-bai-regular-24-px-32-px {
  font-size: 1.714rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 32px;
}
@mixin text-style-bai-regular-30-px-38-px {
  font-size: 2.143rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 38px;
}
@mixin text-style-bai-regular-38-px-46-px {
  font-size: 2.714rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 46px;
}
@mixin text-style-bai-regular-46-px-54-px {
  font-size: 3.286rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 54px;
}
@mixin text-style-bai-regular-56-px-64-px {
  font-size: 4rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 64px;
}
@mixin text-style-bai-bold-6-px-14-px {
  font-size: 0.429rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 14px;
}
@mixin text-style-bai-bold-8-px-16-px {
  font-size: 0.571rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 16px;
}
@mixin text-style-bai-bold-10-px-18-px {
  font-size: 0.714rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 18px;
}
@mixin text-style-bai-bold-12-px-20-px {
  font-size: 0.857rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 20px;
}
@mixin text-style-bai-bold-14-px-22-px {
  font-size: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 22px;
}
@mixin text-style-bai-bold-16-px-24-px {
  font-size: 1.143rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 24px;
}
@mixin text-style-bai-bold-20-px-28-px {
  font-size: 1.429rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 28px;
}
@mixin text-style-bai-bold-24-px-32-px {
  font-size: 1.714rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 32px;
}
@mixin text-style-bai-bold-30-px-38-px {
  font-size: 2.143rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 38px;
}
@mixin text-style-bai-bold-38-px-46-px {
  font-size: 2.714rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 46px;
}
@mixin text-style-bai-bold-46-px-54-px {
  font-size: 3.286rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 54px;
}
@mixin text-style-bai-bold-56-px-64-px {
  font-size: 4rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bolder;
  line-height: 64px;
}
