@mixin text-style-orbitron-6-px-14-px {
  font-size: 0.429rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 14px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-8-px-16-px {
  font-size: 0.571rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 18px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-10-px-18-px {
  font-size: 0.714rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 18px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-12-px-20-px {
  font-size: 0.857rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 20px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-14-px-22-px {
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 22px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-16-px-24-px {
  font-size: 1.143rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-20-px-28-px {
  font-size: 1.429rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 28px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-24-px-32-px {
  font-size: 1.714rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-30-px-38-px {
  font-size: 2.143rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 38px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-38-px-46-px {
  font-size: 2.714rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 46px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-46-px-54-px {
  font-size: 3.286rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 54px;
  letter-spacing: 0.04em;
}
@mixin text-style-orbitron-56-px-64-px {
  font-size: 4rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  line-height: 64px;
  letter-spacing: 0.04em;
}
