.flat {
  height: 100vh;
  width: 100vw;
  background: url("../../../../shared/ui/images/Hive_art_dark.jpg") center center;
  background-size: cover;
}

.insideFlat {
  background: url("../../../../shared/ui/images/Hive_art.jpg") center center;
}