@import 'src/shared';

.wrapper {
  min-height: 100vh;
  background: $color-extra-background-3;
  font-family: $bai;
}

.logoWrapper{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  @media only screen and (min-width: $media-desktop-s)  {
    padding-top: 287px;
    margin-bottom: 90px;
  }
}

.actionButton {
  font-family: $orbitron;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  @media only screen and (min-width: $media-desktop-s)  {
    margin-bottom: 18px;
  }
}

.warning {
  display: flex;
  justify-content: center;
}
