@import 'src/shared/ui/variables/media';
@import "src/shared/ui/variables/colors";
@import "src/shared/ui/variables/typography";

.wrapper {
  min-height: 100vh;
  background: $color-extra-background-3;
}

.logoWrapper{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  @media only screen and (min-width: $media-desktop-s)  {
    padding-top: 287px;
    margin-bottom: 90px;
  }
}

.actionButton {
  padding: 10px 35px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  @media only screen and (min-width: $media-desktop-s)  {
    margin-bottom: 18px;
  }
}

.warning {
  color: $color-red-red-5;
  line-height: 16px;
  display: flex;
  justify-content: center;
  @include text-style-bai-regular-14-px-22-px;
}
