.content {
    background-image: url(../../shared/ui/images/common/404.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    height: 100%;
    display: grid;
}

.message {
    justify-self: end;
    align-self: end;
    margin-bottom: 100px;
    padding: 44px 26px;
    width: 416px;
    height: 160px;
    background-image: url(../../shared/ui/images/common/404-messages-block-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    text-transform: uppercase;
}