@import 'src/shared';

.item {
  display: flex;
  align-items: center;
  background: $color-neutral-neutral-1;
  color: $color-neutral-neutral-9;
  padding: 16px;
  border: 1px solid $color-neutral-neutral-4;
  border-top: none;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }

  & > span:first-child {
    margin-right: 33px;
  }
}

.text {
  margin-right: 35px;
}