@import "src/shared";

.surface {
  text-align: center;
  color: $color-neutral-neutral-9;
  max-width: 70vw;
  font-size: 12px;
  position: relative;
  margin-top: 48vh;

  @media  (min-width: $media-mobile-oriental)  {
    max-width: 27vw;
    font-size: 16px;
  }
  @media  (min-width: $media-tablet)  {
    max-width: 27vw;
  }
  @media  (min-width: $media-desktop-s)  {
    left: 36vw;
    max-width: 27vw;
  }
  @media  (min-width: $media-desktop-l)  {
    left: 37vw;
    max-width: 24vw;
  }
  @media  (min-width: $media-wide)  {
    left: 37vw;
    max-width: 27vw;
  }
}

.title {
  text-transform: uppercase;
}